@import "src/assets/scss/angular-material";
@import "bootstrap/dist/css/bootstrap.css";

@font-face {
    font-family: "Poppins";
    src: url(assets/fonts/Poppins/Poppins-Regular.ttf) format("opentype");
}

html, body { height: 100%; }
body { margin: 0}

span, p, b{
    font-family: "Poppins" !important;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
